<script type="text/javascript" language="Javascript">
<!--
{bbcode_data}
//-->
</script>

<ul class="bs_none_list bs_bbcode_helper">
	<li>
		{set tag='b'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/bold.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='i'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/italic.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='u'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/underline.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='s'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/strike.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		
		{if bbcode.is_allowed('b','i','u','s')}
		&nbsp;
		{endif}
		
		{set tag='sub'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/subscript.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='sup'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/supscript.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		
		{if bbcode.is_allowed('sub','sup')}
		&nbsp;
		{endif}
		
		{set tag='left'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/left.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='center'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/center.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='right'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/right.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		
		{if bbcode.is_allowed('left','center','right')}
		&nbsp;
		{endif}
		
		{set tag='font'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="showPopup({number},'{tag}');"
			src="{guser.get_theme_item_path('images/bbcode/font.png')}"
			width="31" height="20"
			alt=" [{tag}] " />
		<div class="bs_bbcode_popup" id="tag_{tag}_popup">
			<ul class="bs_none_list">
				<li><a style="font-family: Arial;" href="javascript:popupElementClick('{tag}','Arial');">Arial</a></li>
				<li><a style="font-family: Times;" href="javascript:popupElementClick('{tag}','Times');">Times</a></li>
				<li><a style="font-family: Courier;" href="javascript:popupElementClick('{tag}','Courier');">Courier</a></li>
				<li><a style="font-family: Impact;" href="javascript:popupElementClick('{tag}','Impact');">Impact</a></li>
				<li><a style="font-family: Verdana;" href="javascript:popupElementClick('{tag}','Verdana');">Verdana</a></li>
			</ul>
		</div>
		{endif}
		
		{set tag='color'}
		{if bbcode.is_allowed(tag)}
		<script type="text/javascript" src="{gjs.get_file('js/colorpicker.js','lib')}"></script>
		<script type="text/javascript">
		<!--
		cp = new PLIB_ColorPicker(
			'{glibpath}','group_color',
			function(color) {
				popupElementClick('{tag}',color);
			},
			function() {
				popups['{tag}'] = 0;
			}
		);
		//-->
		</script>
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="showPopup({number},'{tag}');"
			src="{guser.get_theme_item_path('images/bbcode/color.png')}"
			width="31" height="20"
			alt=" [{tag}] " />
		{endif}
		
		{set tag='size'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="showPopup({number},'{tag}');"
			src="{guser.get_theme_item_path('images/bbcode/size.png')}"
			width="31" height="20"
			alt=" [{tag}] " />
		<div class="bs_bbcode_popup" id="tag_{tag}_popup">
			<ul class="bs_none_list">
				<li><a style="font-size: 8px;" href="javascript:popupElementClick('{tag}','8');">{glocale.lang('bbcode_size_verysmall')}</a></li>
				<li><a style="font-size: 10px;" href="javascript:popupElementClick('{tag}','10');">{glocale.lang('bbcode_size_small')}</a></li>
				<li><a style="font-size: 12px;" href="javascript:popupElementClick('{tag}','12');">{glocale.lang('bbcode_size_middle')}</a></li>
				<li><a style="font-size: 14px;" href="javascript:popupElementClick('{tag}','14');">{glocale.lang('bbcode_size_big')}</a></li>
				<li><a style="font-size: 18px;" href="javascript:popupElementClick('{tag}','18');">{glocale.lang('bbcode_size_verybig')}</a></li>
			</ul>
		</div>
		{endif}
	</li>
	<li>
		{set tag='quote'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/quote.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='code'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="showPopup({number},'{tag}');"
			src="{guser.get_theme_item_path('images/bbcode/code2.png')}"
			width="31" height="20"
			alt=" [{tag}] " />
		<div class="bs_bbcode_popup" id="tag_{tag}_popup">
			<ul class="bs_none_list">
				<li><a href="javascript:popupElementClick('{tag}','');"><i>{glocale.lang('default')}</i></a></li>
				{loop hllangs as lid => lang}
				<li><a href="javascript:popupElementClick('{tag}','{lid}');">{lang:name}</a></li>
				{endloop}
			</ul>
		</div>
		{endif}
		{set tag='list'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="showPopup({number},'{tag}');"
			src="{guser.get_theme_item_path('images/bbcode/list.png')}"
			width="31" height="20"
			alt=" [{tag}] " />
		<div class="bs_bbcode_popup" id="tag_{tag}_popup">
			<ul class="bs_none_list">
				<li><a href="javascript:popupElementClick('{tag}','');"><i>{glocale.lang('bbcode_list_default')}</i></a></li>
				<li><a href="javascript:popupElementClick('{tag}','circle');">{glocale.lang('bbcode_list_circle')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','square');">{glocale.lang('bbcode_list_square')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','disc');">{glocale.lang('bbcode_list_disc')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','1');">{glocale.lang('bbcode_list_1')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','i');">{glocale.lang('bbcode_list_i')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','I');">{glocale.lang('bbcode_list_I')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','a');">{glocale.lang('bbcode_list_a')}</a></li>
				<li><a href="javascript:popupElementClick('{tag}','A');">{glocale.lang('bbcode_list_A')}</a></li>
			</ul>
		</div>
		{endif}
		
		{if bbcode.is_allowed('quote','code','list')}
		&nbsp;
		{endif}
		
		{set tag='url'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/link.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='mail'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/mail.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		{set tag='img'}
		{if bbcode.is_allowed(tag)}
		<img id="tag_{tag}" class="bs_bbcode"
			onmouseover="hoverItem('tag_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
			onmouseout="unhoverItem('tag_{tag}');"
			onclick="insertBBCode('bbcode_area','[{tag}]','{tag}',this)"
			src="{guser.get_theme_item_path('images/bbcode/image.png')}"
			width="20" height="20"
			alt=" [{tag}] " />
		{endif}
		
		{if bbcode.is_allowed('url','mail','img')}
		&nbsp;
		{endif}
		
		{set tag='closeall'}
		<input id="helper_{tag}" type="button" class="bs_bbcode"
		 onmouseout="unhoverItem('helper_{tag}');"
		 onmouseover="hoverItem('helper_{tag}','{glocale.lang('bbcode_help_'~tag)}');"
		 value="{glocale.lang('bbcode_element_closeall')}"
		 onclick="closeBBCodeTags('bbcode_area');" />
	</li>
</ul>
<input type="text" readonly="readonly" class="a_bbcode_notice" id="explain" style="width: 90%;" />