<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="{mimetype}; {charset}" />
<meta http-equiv="Content-Style-Type" content="text/css" />
{if redirect}
<meta http-equiv="refresh" content="{redirect:time}; url={redirect:url}" />
{endif}
{if gisloggedin == false}
<script type="text/javascript" language="javascript">
<!--
	parent.location.href = 'admin.php';
//-->
</script>
{endif}
<script type="text/javascript" src="{gjs.get_file('src/functions.js')}"></script>
<script type="text/javascript" src="{gjs.get_file('js/basic.js','lib')}"></script>
<script type="text/javascript" src="{gjs.get_file('js/ajax.js','lib')}"></script>
{loop jsfiles as file}
<script type="{file:type}" src="{file:src}"></script>
{endloop}
<script type="text/javascript">
<!--
function setCookie(name,value,lifetime)
{
	document.cookie = escape(name) + "=" + escape(value) +
		(lifetime ? ";expires=" + (new Date((new Date()).getTime() + (1000 * lifetime))).toGMTString() : "") +
		";path={cookie_path};domain={cookie_domain}";
}

var myAjax = new PLIB_Ajax();
myAjax.setMimeType('text/plain; {charset}');
myAjax.setEventHandler('onstart',function() {
	PLIB_displayWaitBar('ajax_wait_bar');
});
myAjax.setEventHandler('onfinish',function() {
	PLIB_hideElement('ajax_wait_bar');
});
//-->
</script>
{loop jsblocks as block}
<script type="{block:type}">
<!--
{block:code}
//-->
</script>
{endloop}

<link rel="stylesheet" type="text/css" href="{gpath}acp/templates/style.css" />
{loop cssfiles as file}
<link rel="stylesheet" type="{file:type}" href="{file:src}" />
{endloop}
<style type="text/css">
div.bs_signature {
	{if sig_max_height > 0}
	height: expression( this.scrollHeight > {sig_max_height - 1} ? "{sig_max_height}px" : "auto" );
	max-height: {sig_max_height}px;
	overflow: hidden;
	{endif}
}
</style>
{loop cssblocks as block}
<style type="{block:type}">
{block:code}
</style>
{endloop}
</head>
<body>

{if position != ''}
<div id="position">
<b>{glocale.lang('position')}:</b> {position}
</div>
{endif}

{include "inc_messages.htm"}

<div class="a_block_pad">