{include "inc_header.htm"}

{if module_error == false}

<p class="a_block"><b>{glocale.lang('maintenance_miscellaneous_notice')}</b></p>

<form method="post" action="{gurl.simple_acp_url(0,'&amp;action=operation')}">
<div class="a_border a_pad">
	<h1 class="a_topic">{glocale.lang('acpmod_miscellaneous')}</h1>
	<table class="a_table" cellpadding="2" cellspacing="1">
		<tr>
			<td width="25%" class="a_coldesc">{glocale.lang('title')}</td>
			<td width="60%" class="a_coldesc">{glocale.lang('description')}</td>
			<td width="15%" class="a_coldesc" align="center">&nbsp;</td>
		</tr>
		{loop tasks as name => lang}
		<tr id="row_{name}" class="hlRow">
			<td class="hlCol"><b>{glocale.lang('title_'~lang)}</b></td>
			<td class="hlCol">{glocale.lang('desc_'~lang)}</td>
			<td class="hlCol" align="center">
			<input type="submit" name="refresh[{name}]" value="{glocale.lang('refresh')}" />
			</td>
		</tr>
		{endloop}
	</table>
</div>
</form>

{endif}

{include "inc_footer.htm"}