{include "inc_header.htm"}
{include "inc_delete_message.htm"}

{if module_error == false}
{include "inc_js_row_selector.htm"}

<p class="a_block">{glocale.lang('smiley_hint')}</p>
<p class="a_block">{glocale.lang('import_new_smileys_hint')}</p>
<div class="a_block_pad">
	<div class="a_menubar">
		<a href="{import_url}">
		<img src="{gpath}acp/images/plus.png" alt="{glocale.lang('import_new_smileys')}" />
		{glocale.lang('import_new_smileys')}
		</a>
	</div>
</div>

<form method="post" action="{gurl.get_acpmod_url(0,'&amp;site='~page)}">
<input type="hidden" name="update" value="true" />
<div class="a_border a_pad">
	<h1 class="a_topic">{glocale.lang('smileys')}</h1>
	<table class="a_table" cellpadding="2" cellspacing="1">
		<tr>
			<td class="a_coldesc" width="27%">{glocale.lang('filename')}</td>
			<td class="a_coldesc" width="10%" align="center">{glocale.lang('smiley')}</td>
			<td class="a_coldesc" width="15%" align="center">{glocale.lang('primary_code')}</td>
			<td class="a_coldesc" width="15%" align="center">{glocale.lang('secondary_code')}</td>
			<td class="a_coldesc" width="9%" align="center">{glocale.lang('is_base')}</td>
			<td class="a_coldesc" width="14%" align="center">{glocale.lang('sort')}</td>
			<td class="a_coldesc" width="5%" align="center">&nbsp;</td>
			<td class="a_coldesc" width="5%" align="center">&nbsp;</td>
		</tr>
		{if smileys.length == 0}
		<tr>
			<td class="a_main" colspan="8" align="center">{glocale.lang('no_smileys_found')}</td>
		</tr>
		{endif}
		{loop smileys as row => smiley}
		<tr id="row_{row}" class="hlRow">
			<td class="hlCol">images/smileys/<b>{smiley:smiley_path}</b></td>
			<td class="hlCol" align="center">
			<img src="images/smileys/{smiley:smiley_path}" title="{smiley:primary_code}" alt="{smiley:primary_code}" />
			</td>
			<td class="hlCol" align="center">{smiley:primary_code}</td>
			<td class="hlCol" align="center">{smiley:secondary_code}</td>
			<td class="hlCol" align="center">{smiley:is_base}</td>
			<td class="hlCol" align="center">
			( {smiley:sort_key} )

			{if smiley:show_up}
			<a href="{smiley:switch_up_url}"><img src="acp/images/asc.gif" title="{glocale.lang('forum_up')}"
				alt="{glocale.lang('forum_up')}" /></a>
			{else}
			<img src="acp/images/up_disabled.gif" title="{glocale.lang('notavailable')}" alt="{glocale.lang('notavailable')}" />
			{endif}

			{if smiley:show_down}
			<a href="{smiley:switch_down_url}"><img src="acp/images/desc.gif" title="{glocale.lang('forum_down')}"
				 alt="{glocale.lang('forum_down')}" /></a>
			{else}
			<img src="acp/images/down_disabled.gif" title="{glocale.lang('notavailable')}" alt="{glocale.lang('notavailable')}" />
			{endif}
			</td>
			<td class="hlCol" align="center">
			<a href="{gurl.get_acpmod_url(0,'&amp;action=edit&amp;id='~smiley:id~'&amp;site='~page)}">
			<img src="{gpath}acp/images/edit.png" alt="{glocale.lang('edit')}" title="{glocale.lang('edit')}" />
			</a>
			</td>
			<td class="hlCol" align="center" onclick="rowHL.toggleRowSelected({row});">
			<input id="check_{row}" type="checkbox" name="delete[]" value="{smiley:id}" />
			</td>
		</tr>
		{endloop}
	</table>
</div>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="a_body" width="30%">&nbsp;</td>
		<td class="a_body" width="40%" align="center">
		{glocale.lang('marked')}: <input type="submit" value="{glocale.lang('delete')}" />
		</td>
		<td class="a_body" width="30%" align="right">
		<a href="javascript:rowHL.toggleAllSelected();">{glocale.lang('invertmark')}</a>
		</td>
	</tr>
</table>
</form>

<div class="a_pad">
	{include "inc_page_split.htm"}
</div>

{endif}

{include "inc_footer.htm"}