{include "inc_delete_message.htm"}

<script type="text/javascript" src="{gjs.get_file('js/colorpicker.js','lib')}"></script>
<script type="text/javascript">
<!--
function RestoreColors()
{
	var f = document.getElementsByName("design")[0];
	for(var i=0;i < f.length;i++)
	{
		if(f.elements[i].name.match(/[^%]+%[^:|\|]+:?[a-z]*\|(background-)?color/i))
			document.getElementById(f.elements[i].name + "|preview").style.backgroundColor = f.elements[i].value;
	}
}
//-->
</script>

<form method="post" id="design" name="design" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="a_border a_pad">
	<h1 class="a_topic">{glocale.lang('designconfig')}</h1>
	<table class="a_table" cellpadding="2" cellspacing="1">
		<tr>
			<td width="25%" class="a_coldesc" align="center">{glocale.lang('groups')}</td>
			<td width="75%" class="a_coldesc" align="center">{glocale.lang('configuration')}</td>
		</tr>
		<tr>
			<td width="25%" valign="top" class="a_main">
			<table width="100%" cellpadding="0" cellspacing="0">
				{loop cats as category}
				<tr>
					<td class="a_main"><b>{category:name}</b></td>
				</tr>
				{loop category:items as item}
				<tr>
					<td class="a_main_no_pad">{item:menu_item}</td>
				</tr>
				{endloop}
				{endloop}
			</table>
			</td>
			<td width="75%" valign="top" class="a_main">

			{if groups.length > 0}
			<table width="100%" cellpadding="0" cellspacing="2">
				{if explanation_picture != ''}
				<tr>
					<td class="a_main" colspan="2">
					<b>{glocale.lang('examples')}:</b><br /><br />{explanation_picture}
					</td>
				</tr>
				<tr>
					<td class="a_main" colspan="2"><br /><hr style="color: #000000;" size="1" /></td>
				</tr>
				{endif}
				{loop groups as group}
				<tr>
					<td class="a_main" colspan="2"><b> {group:tag_name}</b></td>
				</tr>
				{loop group:attributes as attribute}
				<tr>
					<td class="a_main" width="35%">
					<input id="{attribute:id}" type="checkbox" class="a_box" name="del[]" value="{attribute:id}" />
					<label for="{attribute:id}">{attribute:name}:</label>
					</td>
					<td class="a_main" width="65%">{attribute:form_element}</td>
				</tr>
				{endloop}
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">
					<img src="{gpath}acp/images/design_delete.gif" alt="{glocale.lang('delete')}" />
					<input type="submit" name="delete" value="{glocale.lang('delete')}" /> | {glocale.lang('attribute')}:
					{group:add_attribute_combo}
					<input type="submit" name="add[{group:class_name}]" value="{glocale.lang('add')}" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><hr style="width: 100%; color: #000000;" size="1" /></td>
				</tr>
				{endloop}
			</table>
			
			{endif}
			</td>
		</tr>
	</table>
</div>
<center>
	<input type="submit" value="{glocale.lang('save')}" />
	<input type="reset" onclick="setTimeout('RestoreColors()',10);" value="{glocale.lang('resetform')}" />
</center>
</form>