/* [[main]] */

/* {{body}} */

body.bs_body {
	margin: 10px 20px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 0.7em;
	color: #fff;
	background-color: #353635;
}

.bs_body a {
	text-decoration: none;
	color: #7A7A7A;
}

.bs_body a:hover {
	text-decoration: underline;
	color: #7A7A7A;
}

/* {{main}} */

.bs_main {
	padding: 0.4em;
	color: #000;
	background-color: #C7C7C7;
}

.bs_main a {
	text-decoration: none;
	color: #AB1111;
}

.bs_main a:hover {
	text-decoration: underline;
	color: #AB1111;
}

/* {{coldesc}} */

.bs_coldesc {
	padding: 0.3em;
	font-size: 0.9em;
	color: #fff;
	background-color: #4A4A4A;
	font-weight: bold;
}

.bs_coldesc a {
	text-decoration: none;
	color: #7A7A7A;
}

.bs_coldesc a:hover {
	text-decoration: underline;
	color: #7A7A7A;
}

.bs_coldesc_sep {
	border-top: 1px solid #353635;
	background-color: #4A4A4A;
	padding: 0.3em;
	height: 3px;
	font-size: 3px;
	line-height: 3px;
}

.bs_left {
	padding: 0.3em;
	font-size: 0.9em;
	background-color: #4A4A4A;
	font-weight: bold;
}

/* {{topic}} */

.bs_topic {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	padding: 0.4em;
	background-color: #aa1011;
	background-image: url(images/topic.gif);
	background-repeat: repeat-x;
	text-align: center;
}

td.bs_topic {
	padding: 0.3em;
}

h1.bs_topic {
	margin: 0;
	padding: 0.3em;
}

.bs_topic a {
	background-image: none;
	text-decoration: underline;
	color: #fff;
}

.bs_topic a:hover {
	color: #000;
}

/* {{desc}} */

.bs_desc {
	padding-top: 0.5em;
	font-size: 0.9em;
	font-weight: normal;
}

/* {{border}} */

.bs_border {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 1px;
	border: 1px solid #b9b9b9;
}

/* {{headline}} */

div.bs_headline {
	cursor: pointer;
	background-color: #C7C7C7;
	background-image: url(images/headline.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 81px;
}

.bs_menu_wrapper {
	background-image: url(images/topic.gif);
	background-repeat: repeat-x;
	background-color: #3F5E88;
}

.bs_menu a {
	color: #fff;
	font-weight: bold;
}

.bs_menu a:hover {
	color: #fff;
	text-decoration: underline;
}

.bs_welcome {
	color: #000;
}

li.bs_welcome_left {
	padding: 0.25em;
}

li.bs_welcome_right {
	padding: 0.25em;
}

/* {{bottom}} */

div.bs_bottom {
	color: #000;
	background-color: #C7C7C7;
}

li.bs_bottom {
	padding: 2px;
}

/* {{form}} */

fieldset.bs_form dl {
	background-color: #4A4A4A;
}

fieldset.bs_form dt {
	padding: 0.5em;
	width: 21%;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

fieldset.bs_form dd {
	padding: 0.5em;
	margin-left: 23%;
	color: #000;
	background-color: #C7C7C7;
	vertical-align: middle;
}

fieldset.bs_subform dl {
	background-color: #C7C7C7;
}

fieldset.bs_subform dt {
	font-weight: normal;
	width: 20%;
}

fieldset.bs_subform dd {
	margin-left: 20%;
}

/* [[content]] */

/* {{forums}} */

td.bs_forums {
	padding: 0.4em;
	color: #000;
	background-color: #C7C7C7;
}

.bs_forums a {
	text-decoration: none;
	color: #AB1111;
	font-size: 1.1em;
}

.bs_forums a:hover {
	text-decoration: underline;
	color: #AB1111;
}

/* {{forums_small}} */

td.bs_forums_small {
	padding: 0.4em;
	color: #000;
	background-color: #C7C7C7;
}

.bs_forums_small a {
	color: #AB1111;
	text-decoration: none;
	font-size: 0.87em;
}

.bs_forums_small a:hover {
	color: #AB1111;
	text-decoration: underline;
}

/* {{categories}} */

td.bs_categories {
	padding: 0.4em;
	background-color: #4A4A4A;
}

.bs_categories a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.2em;
}

.bs_categories a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/* {{topics_small}} */

.bs_topics_small a {
	font-size: 0.9em;
	color: #808080;
	text-decoration: none;
}

.bs_topics_small a:hover {
	color: #000000;
	text-decoration: underline;
}

/* {{post}} */

.bs_post_separator {
	background-color: #353635;
	height: 4px;
	line-height: 4px;
	font-size: 4px;
	padding: 0;
	margin: 0;
}

.bs_signature_sep {
	color: #888;
	height: 1px;
	width: 50%;
}

.bs_posts_bar_1 {
	padding: 0.4em;
	color: #000;
	background-color: #B5B5B5;
}

.bs_posts_bar_1 a {
	text-decoration: none;
	color: #AB1111;
}

.bs_posts_bar_1 a:hover {
	text-decoration: underline;
	color: #AB1111;
}

.bs_posts_bar_2 {
	padding: 0.4em;
	color: #000;
	background-color: #B5B5B5;
}

.bs_posts_bar_2 a {
	text-decoration: none;
	color: #AB1111;
}

.bs_posts_bar_2 a:hover {
	text-decoration: underline;
	color: #AB1111;
}

.bs_posts_left_1 {
	color: #000;
	background-color: #C1C1C1;
}

.bs_posts_left_1 a {
	text-decoration: none;
	color: #AB1111;
}

.bs_posts_left_1 a:hover {
	text-decoration: underline;
	color: #AB1111;
}

td.bs_posts_left_2 {
	color: #000;
	background-color: #C1C1C1;
}

.bs_posts_left_2 a {
	text-decoration: none;
	color: #AB1111;
}

.bs_posts_left_2 a:hover {
	text-decoration: underline;
	color: #AB1111;
}

.bs_posts_main_1 {
	font-size: 1.05em;
	line-height: 140%;
	color: #000;
	background-color: #C7C7C7;
}

.bs_posts_main_1 a {
	text-decoration: none;
	color: #AB1111;
}

.bs_posts_main_1 a:hover {
	text-decoration: underline;
	color: #AB1111;
}

.bs_posts_main_2 {
	font-size: 1.05em;
	line-height: 140%;
	color: #000;
	background-color: #C7C7C7;
}

.bs_posts_main_2 a {
	text-decoration: none;
	color: #AB1111;
}

.bs_posts_main_2 a:hover {
	text-decoration: underline;
	color: #AB1111;
}

/* [[formating]] */

/* {{bbcode}} */

input.bs_bbcode {
	height: 26px;
	padding: 2px;
}

img.bs_bbcode {
	padding: 2px;
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	vertical-align: top;
}

select.bs_bbcode {
	height: 24px;
	padding: 1px;
}

/* {{bbcode_popup}} */

.bs_bbcode_popup {
	background-color: #fff;
	border: 1px solid #aaa;
	border-bottom: none;
}

.bs_bbcode_popup li {
	border-bottom: 1px solid #aaa;
}

.bs_bbcode_popup li a {
	color: #000;
	padding: 0.2em;
}

.bs_bbcode_popup li a:hover {
	color: #000;
	background-color: #f0f0f0;
	text-decoration: none;
}

/* {{quote}} */

.bs_quote_section {
	border: 1px solid #999999;
	background-color: #7283A0;
	margin: 0.5em 0.8em;
}

.bs_quote_section_top {
	padding: 0.4em;
	background-color: #AB1111;
	font-size: 1.05em;
	color: #FFFFFF;
}

.bs_quote_section_main {
	padding: 0.4em;
	background-color: #FFFFFF;
}

/* {{code}} */

.bs_lcode {
	width: 20px;
	border-right: 1px solid #ccc;
	padding-right: 0.2em;
}

.bs_rcode {
	padding-left: 0.2em;
	font-family: "courier new", monospace;
	font-size: 1.2em;
}

/* [[calendar]] */

/* {{calendar}} */

td.bs_calendar {
	font-size: 0.9em;
	font-weight: normal;
	background-color: #FFFFFF;
}

td.bs_calendar_today {
	font-size: 0.9em;
	background-color: #FFFFFF;
	border: 2px solid #7F90AE;
}

.bs_calendar a {
	text-decoration: none;
	color: #AB1111;
}

.bs_calendar a:hover {
	text-decoration: underline;
	color: #AB1111;
}

/* {{calendar_empty}} */

td.bs_calendar_empty {
	padding: 0.4em;
	font-size: 0.9em;
	background-color: #EBEBEB;
}

td.bs_calendar_empty_today {
	padding: 0.4em;
	font-size: 0.9em;
	background-color: #EBEBEB;
	border: 2px solid #7F90AE;
}

/* {{calendar_border}} */

td.bs_calendar_border {
	padding: 0.4em;
	font-size: 0.9em;
	background-color: #DBDBDB;
}

td.bs_calendar_border_today {
	padding: 0.4em;
	font-size: 0.9em;
	background-color: #DBDBDB;
	border: 2px solid #7F90AE;
}

/* [[other]] */

/* {{unread}} */

span.bs_unread {
	color: #FF0000;
	font-weight: bold;
}

/* {{highlight}} */

span.bs_highlight {
	background-color: #FFFF00;
	color: #000;
}

/* {{formelements}} */

input, select, textarea {
	padding: 0.2em;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.9em;
	color: #000000;
}

/* {{pagination}} */

.bs_pageno {
	color: #000;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

.bs_pagecurrent {
	padding: 0px 4px;
	font-weight: bold;
}

.bs_pageno a {
	padding: 1px 4px;
}

.bs_pageno a:hover {
	background-color: #3F5E88;
	color: #fff;
	text-decoration: none;
}

/* {{button}} */

a.bs_button {
	background-image: url(images/button.gif);
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	color: #000000;
}

a.bs_button:hover {
	color: #981A1A;
	text-decoration: none;
}

a.bs_button_big {
	background-image: url(images/button_big.gif);
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	color: #000000;
}

a.bs_button_big:hover {
	color: #981A1A;
	text-decoration: none;
}

a.bs_button_selected {
	background-image: url(images/button_selected.gif);
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	color: #000000;
}

a.bs_button_selected:hover {
	color: #cd940a;
	text-decoration: none;
}