<div class="bs_border bs_padbottom">
	<div class="bs_main">
		<div>
			{glocale.lang('welcome')}, <b>{username_plain}</b>!
			{if gisloggedin}
			<div style="float: right;">
				<a href="{gurl.simple_url(-1,'&amp;$URL_AT=$ACTION_LOGOUT','&amp;',true)}">
				{glocale.lang('logout')}</a>
			</div>
			{endif}
		</div>
		{if gisloggedin == false}
		<div>
			<form method="post" action="{login_url}">
			<input type="hidden" name="login" value="1" />
			<input type="hidden" name="action_type" value="{action_type}" />
			<input style="padding: 1px;" type="text" name="user_login" size="10" value="Username"
					onblur="if(this.value == '') this.value = 'Username';"
					onfocus="if(this.value == 'Username') this.value = '';" />
			<input style="padding: 1px;" type="password" name="pw_login" size="10" value="password"
					onblur="if(this.value == '') this.value = 'password';"
					onfocus="if(this.value == 'password') this.value = '';" />
			<input style="padding: 1px;" type="submit" value="&nbsp;{glocale.lang('login')}&nbsp;" />
			</form>
		</div>
		{endif}
		<div>
			{if enable_portal}
			<a href="{gurl.build_portal_url()}" title="{unread_news_title}">{glocale.lang('portal')}</a>
			({if unread_news_count > 0}<span class="bs_unread">{unread_news_count}</span>{else}0{endif})
			&middot;
			{endif}
			{if gisloggedin && guserenablepm}
			<a title="{glocale.lang('privatemsgs')} ({unread_pm_count} {glocale.lang('newmsgs')})"
			   href="{gurl.simple_url('userprofile','&amp;$URL_SUB=pmoverview')}">{glocale.lang('pms')}</a>
			({if unread_pm_count > 0}<span class="bs_unread">{unread_pm_count}</span>{else}0{endif}) &middot;
			{endif}
			<a title="{unread_topics_title}"
				  href="{gurl.simple_url('unread')}">{glocale.lang('unread_threads_short')}</a>
			({if unread_topic_count > 0}<span class="bs_unread">{unread_topic_count}</span>
			<a href="{first_unread_url}"><img src="{guser.get_theme_item_path('images/unread/first_unread_post.gif')}"
					alt="" /></a>{else}0{endif}) &middot;
			{loop top_links as id => link}
			{if link:text == glocale.lang('profile')}
			<a href="{link:url}">{link:text}</a> &middot;
			{endif}
			{if link:text == glocale.lang('search')}
			<a href="{link:url}">{link:text}</a>
			{endif}
			{endloop}
		</div>
	</div>
</div>

<div class="bs_border bs_padbottom">
	<div class="bs_main">
		{loop breadcrumbs as bc}
		<div style="margin-left: {breadcrumbs.current * 10}px;">
			&bull; <a href="{bc:1}">{bc:0}</a>
		</div>
		{endloop}
	</div>
</div>