{if type != 'contains_cats'}
<div class="bs_border">
	<h1 class="bs_topic">{thread_title}</h1>
	<ul>
	{if num == 0}
	<div class="bs_main">{glocale.lang('no_topics_found')}</div>
	{endif}
	{loop topics as index => topic}
		<li>
			{if topic:is_important}
			<b>{glocale.lang('important')}</b>:
			{endif}
			<a {if topic:is_unread} class="bs_unread"{endif}
				{if topic:name_complete != ''}title="{topic:name_complete}" {endif}href="{topic:topic_url}">
			{if topic:is_moved}
			<i>{topic:name}</i>
			{else}
			{topic:name}
			{endif}
			</a>
			{if topic:page_split}
			&nbsp;&nbsp;<span class="bs_desc">{topic:page_split}</span>
			{endif}
		</li>
	{endloop}
	</ul>
</div>
{else}
{if sub_forum == false}
<div class="bs_border">
	<h1 class="bs_topic">{thread_title}</h1>
	<div class="bs_main" style="text-align: center;">
		{glocale.lang('no_forums_available')}
	</div>
</div>
{endif}
{endif}