{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}

{include "inc_post_preview.htm"}

<form method="post" enctype="multipart/form-data" action="{target_url}" onsubmit="BS_refresh_text();">
<input type="hidden" name="action_type" value="{action_type}" />
<input type="hidden" name="timestamp" value="{timestamp}" />
<div class="bs_border">
	<h1 class="bs_topic">{glocale.lang('newentry')}</h1>
	<fieldset class="bs_form">
		{include "inc_post_form.htm"}
	</fieldset>
	{include "inc_attachments.htm"}
</div>
<center>
	<input type="button" value="{glocale.lang('back')}" onclick="document.location.href='{back_url}'" />
	<input type="submit" name="preview" value="{glocale.lang('preview')}" />
	<input type="submit" name="submit" value="{glocale.lang('submit')}" accesskey="s" />
</center>
</form>

<div class="bs_padtop">
{include "inc_message_review.htm"}
</div>

{endif}
{endif}

{include "inc_footer.htm"}