{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}

<div>
	<div class="bs_border bs_profile_left">
		<h1 class="bs_topic">{glocale.lang('options')}</h1>
		<ul class="bs_none_list">
			<li class="bs_left">{glocale.lang('profile')}</li>
			<li class="bs_main">
			- <a href="{gurl.simple_url(0,'&amp;$URL_SUB=infos')}">{glocale.lang('personal_info')}</a>
			</li>
			<li class="bs_main">
			- <a href="{gurl.simple_url(0,'&amp;$URL_SUB=config')}">{glocale.lang('profileconfig')}</a>
			</li>
			{if enable_pms == 1}
			<li class="bs_left">{glocale.lang('privatemessages')}</li>
			<li class="bs_main">
			- <a href="{gurl.simple_url(0,'&amp;$URL_SUB=pminbox')}">{glocale.lang('pminbox')}</a>
			</li>
			<li class="bs_main">
			- <a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmoutbox')}">{glocale.lang('pmoutbox')}</a>
			</li>
			<li class="bs_main">
			- <a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmcompose')}">{glocale.lang('newpm')}</a>
			</li>
			{endif}
		</ul>
	</div>
	
	<div class="bs_profile_right">
	{include content_tpl}
	</div>
</div>
<br style="clear: both;" />

{endif}
{endif}

{include "inc_footer.htm"}