{include "inc_header.htm"}

{if module_error == false}
<div class="bs_border">
	<h1 class="bs_topic">{glocale.lang('step_intro')}</h1>
	<ul class="bs_none_list">
		<li class="bs_main">{glocale.lang('step1_explain')}</li>
		<li class="bs_left">{glocale.lang('step1_pre_settings_title')}</li>
		<li class="bs_main">{glocale.lang('step1_pre_settings_text')}</li>
		<li class="bs_left">{glocale.lang('step1_message_changes_title')}</li>
		<li class="bs_main">{glocale.lang('step1_message_changes_text')}</li>
		<li class="bs_left">{glocale.lang('step1_database_changes_title')}</li>
		<li class="bs_main">{glocale.lang('step1_database_changes_text')}</li>
		<li class="bs_left">{glocale.lang('step1_further_settings_title')}</li>
		<li class="bs_main">{glocale.lang('step1_further_settings_text')}</li>
	</ul>
</div>
{endif}

{include "inc_footer.htm"}