{include "inc_header.htm"}

{if module_error == false}
<div class="bs_border">
	<h1 class="bs_topic">{glocale.lang('step_config')}</h1>
	<fieldset class="bs_form">
		<div class="bs_main">{glocale.lang('step3_basic')}</div>
		{loop configs as config}
		{if config:type == 'status' || config:type == 'input'}
		<dl style="padding-left: 1em">
			<dt>{config:title}:</dt>
			<dd>
			{if config:type == 'status'}
			<span style="float: left;">{config:status}</span>
			{endif}
			{if config:type == 'input'}
			<span style="float: left;">
				<input type="text" name="{config:name}" size="{config:size}" maxlength="{config:maxlength}" value="{config:value}" />
			</span>
			{endif}
			<span style="float: right;">
				<img src="install/images/{config:image}.gif" alt="{config:image}" />
			</span>
			<br style="clear: both;" />
			{if config:description != ''}<span class="bs_desc">{config:description}</span>{endif}
			</dd>
		</dl>
		{endif}
		{if config:type == 'separator'}
		<div class="bs_main" style="margin-top:1px;">{config:desc}</div>
		{endif}
		{endloop}
	</fieldset>
</div>
{endif}

{include "inc_footer.htm"}