<table width="65%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td class="bs_tbl_top_left"></td>
		<td class="bs_tbl_top"></td>
		<td class="bs_tbl_top_right"></td>
	</tr>
	<tr>
		<td class="bs_tbl_left"></td>
		<td>
		<table width="100%" cellpadding="2" cellspacing="1">
			<tr>
				<td height="22" align="center" class="bs_topic">{glocale.lang('information')}</td>
			</tr>
			<tr>
				<td class="bs_main">
				<span style="color: #FF0000;"><b>{glocale.lang('error_occurred')}:</b></span><br /><br />
				{errors}
				</td>
			</tr>
		</table>
		</td>
		<td class="bs_tbl_right"></td>
	</tr>
	<tr>
		<td class="bs_tbl_bottom_left"></td>
		<td class="bs_tbl_bottom"></td>
		<td class="bs_tbl_bottom_right"></td>
	</tr>
</table>
<br />