		<tr>
			<td class="bs_main">{glocale.lang('step7_explain')}</td>
		</tr>
		{BREAK}
		<tr>
			<td class="bs_main">
			<b>{glocale.lang('position')}:</b> {position} / {total}<br />
			<b>{glocale.lang('type')}:</b> {type}<br />
			<br />
			{error}
			
			<textarea name="text" style="width: 90%;" rows="30">{text}</textarea>
			<br />
			
			<button id="btnPrev{loc}"{back_disabled} style="margin-right: 2px;" class="bs_button_big" type="submit" name="prev" value="prev" onclick="if(Browser.isIE) { ieSubmit('prev'); return false; }">{glocale.lang('previous_message')}</button>
			<button id="btnTest{loc}" style="margin-right: 2px;" class="bs_button_big" type="submit" name="test" value="test" onclick="if(Browser.isIE) { ieSubmit('test'); return false; }">{glocale.lang('edit_message')}</button>
			<button id="btnNext{loc}"{forward_disabled} class="bs_button_big" type="submit" name="next" value="next" onclick="if(Browser.isIE) { ieSubmit('next'); return false; }">{glocale.lang('next_message')}</button>
			
			<script type="text/javascript">
			<!--
			function ieSubmit(type)
			{
				switch(type)
				{
					case 'prev':
						document.getElementById('btnTest{loc}').setAttribute('name','');
						document.getElementById('btnNext{loc}').setAttribute('name','');
						break;
					case 'next':
						document.getElementById('btnPrev{loc}').setAttribute('name','');
						document.getElementById('btnTest{loc}').setAttribute('name','');
						break;
					case 'test':
						document.getElementById('btnPrev{loc}').setAttribute('name','');
						document.getElementById('btnNext{loc}').setAttribute('name','');
						break;
				}
				document.getElementById('mainForm').submit();
			}
			//-->
			</script>
			</td>
		</tr>
		{BREAK}
		<tr>
			<td class="bs_main"><span style="color: #008000;"><b>{glocale.lang('step7_success')}</b></span></td>
		</tr>