<table width="65%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td class="bs_tbl_top_left"></td>
		<td class="bs_tbl_top"></td>
		<td class="bs_tbl_top_right"></td>
	</tr>
	<tr>
		<td class="bs_tbl_left"></td>
		<td>
		<table width="100%" cellpadding="2" cellspacing="1">
			<tr>
				<td height="22" align="center" class="bs_topic" colspan="2">{glocale.lang('step_type')}</td>
			</tr>
			<tr>
				<td class="bs_main" colspan="2">{glocale.lang('step2_explain')}</td>
			</tr>
			<tr>
				<td width="50%" class="bs_coldesc">{glocale.lang('kindofinstall')}:</td>
				<td width="50%" class="bs_main">{install_type_combo}</td>
			</tr>
		</table>
		</td>
		<td class="bs_tbl_right"></td>
	</tr>
	<tr>
		<td class="bs_tbl_bottom_left"></td>
		<td class="bs_tbl_bottom"></td>
		<td class="bs_tbl_bottom_right"></td>
	</tr>
</table>
<br />