		<tr>
			<td class="bs_main">{glocale.lang('step6_explain')}</td>
		</tr>
		{BREAK}
		<tr>
			<td class="bs_main" style="padding: 0px; border: 1px solid #999999;">
			<img alt="{percent}%" src="themes/default/images/topic.gif" width="{percent}%" height="20" />
			</td>
		</tr>
		<tr>
			<td class="bs_main">
			<div align="center">{percent}%</div>
			
			{if $reload}
			<script type="text/javascript" language="javascript">
			function reload()
			{
				document.location.href='{target_url}';
			}
			
			window.setTimeout('reload()',2000);
			</script>
			{endif}
			</td>
		</tr>
		{BREAK}
		<tr>
			<td class="bs_main" align="center"><b>{glocale.lang('recalcuate_messages_finished')}</b></td>
		</tr>