<table width="65%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td class="bs_tbl_top_left"></td>
		<td class="bs_tbl_top"></td>
		<td class="bs_tbl_top_right"></td>
	</tr>
	<tr>
		<td class="bs_tbl_left"></td>
		<td>
		<table width="100%" cellpadding="2" cellspacing="1">
			<tr>
				<td height="22" align="center" class="bs_topic" colspan="2">{title}</td>
			</tr>
			{if show_table_prefix}
			<tr>
				<td width="40%" class="bs_coldesc">{glocale.lang('table_praefix')}:</td>
				<td width="60%" class="bs_main">
				<input type="text" name="table_prefix" size="10" maxlength="20" value="{prefix}" />
				</td>
			</tr>
			{endif}
			{loop configs as config}
			{if config:type == 'status'}
			<tr>
				<td width="50%" class="bs_coldesc">{config:title}</td>
				<td width="50%" class="bs_main">
				<span style="padding-top: 3px; float: left;">{config:status}</span>
				<span style="float: right; padding-right: 10px;">
					<img src="install/images/{config:image}.gif" alt="ok" />
				</span>
				</td>
			</tr>
			{endif}
			{if config:type == 'input'}
			<tr>
				<td width="50%" class="bs_coldesc">{config:title}</td>
				<td width="50%" class="bs_main">
				<span style="padding-top: 1px; float: left;">
					<input type="text" name="{config:name}" size="{config:size}" maxlength="{config:maxlength}" value="{config:value}" />
				</span>
				<span style="float: right; padding-right: 10px;">
					<img src="install/images/{config:image}.gif" alt="ok" />
				</span>
				</td>
			</tr>
			{endif}
			{if config:type == 'separator'}
			<tr>
				<td colspan="2" class="bs_coldesc" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
			</tr>
			{endif}
			{endloop}
		</table>
		</td>
		<td class="bs_tbl_right"></td>
	</tr>
	<tr>
		<td class="bs_tbl_bottom_left"></td>
		<td class="bs_tbl_bottom"></td>
		<td class="bs_tbl_bottom_right"></td>
	</tr>
</table>
<br />