<script type="text/javascript">
<!--
function boardJumpRedirect(location)
{
	switch(location)
	{
		case 'index':
			document.location.href = '{gurl.build_forums_url('&')}';
			break;
		case 'admin':
			document.location.href = '{gurl.build_admin_url('&')}';
			break;
		case 'portal':
			document.location.href = '{gurl.build_portal_url('&')}';
			break;
		case 'memberlist':
			document.location.href = '{gurl.simple_url('memberlist','','&')}';
			break;
		case 'linklist':
			document.location.href = '{gurl.simple_url('linklist','','&')}';
			break;
		case 'faq':
			document.location.href = '{gurl.simple_url('faq','','&')}';
			break;
		case 'stats':
			document.location.href = '{gurl.simple_url('stats','','&')}';
			break;
		case 'calendar':
			document.location.href = '{gurl.simple_url('calendar','','&')}';
			break;
		case 'search':
			document.location.href = '{gurl.simple_url('search','','&')}';
			break;
		case 'profile':
			document.location.href = '{gurl.simple_url('userprofile','&$URL_SUB=infos','&')}';
			break;
		case 'pms':
			document.location.href = '{gurl.simple_url('userprofile','&$URL_SUB=pmoverview','&')}';
			break;
		case 'register':
			document.location.href = '{gurl.simple_url('register','','&')}';
			break;
		case 'unread':
			document.location.href = '{gurl.simple_url('unread','','&')}';
			break;
		case 'team':
			document.location.href = '{gurl.simple_url('team','','&')}';
			break;
		case 'userloc':
			document.location.href = '{gurl.simple_url('user_locations','','&')}';
			break;
		default:
			var parts = location.split('_');
			if(parts.length == 2 && parts[0] == 'f' && Number(parts[1]))
			{
				var base = '{gurl.build_topics_url('%s',0,'&')}';
				document.location.href = base.replace('%s',parts[1]);
			}
			break;
	}
}
//-->
</script>

<form method="post" action="{gurl.simple_url('redirect','&amp;$URL_LOC=forum_jump')}">
<div class="bs_border bs_padtop">
	<div class="bs_bottom">
		<ul class="bs_none_list bs_bottom">
			<li class="bs_bottom bs_bottom_left">{insert_time}</li>
			<li class="bs_bottom bs_bottom_center">
				Powered by <a target="_blank" href="http://www.boardsolution.de">{bs_version}</a>
			</li>
			<li class="bs_bottom bs_bottom_right">
				<select name="forum_jump" onchange="boardJumpRedirect(this.options[this.selectedIndex].value)">
					<option value=""> - - - - - - [ {glocale.lang('boardjump')} ] - - - - - - </option>
					<option value="index">{glocale.lang('forums')}</option>
					{loop options as k => v}
					<option value="{k}">{v}</option>
					{endloop}
					<option value="">--------------------------------------</option>
					{loop forums as forum}
					<option value="f_{forum:forum_id}">{forum:forum_name}</option>
					{endloop}
				</select>
				<input type="submit" value="{glocale.lang('go')}" />
			</li>
		</ul>
	</div>
</div>

</form>