div.calendar {
	background-color: #e9ebe2;
	border: 1px solid #7F90AE;
	font-size: 0.9em;
}

div.calendar table {
	border-collapse: separate;
	border-spacing: 1px;
}

div.calendar td.cal_button_disabled {
	border: 1px solid #ccc;
	color: #aaa;
	background-color: #777;
}
div.calendar td.cal_button {
	border: 1px solid #ccc;
	color: white;
	background-color: #777;
}
div.calendar td.cal_button_hover {
	border: 1px solid #ccc;
	background-color: #666;
	color: white;
	cursor: pointer;
}

div.calendar td {
	padding: 0.2em;
	border: 1px solid #ccc;
}

div.calendar tbody td {
	padding: 0px;
	height: 25px;
	width: 25px;
	text-align: center;
}

div.calendar td.cal_month {
	background-color: #c8c9c1;
	font-weight: bold;
}

div.calendar td.cal_wkno {
	background-color: #fff;
}

div.calendar td.cal_wkcorner {
	background-color: #c8c9c1;
}

div.calendar td.cal_wkday {
	background-color: #fff;
}

div.calendar tbody td.cal_today {
	border: 1px solid #800000;
}

div.calendar tbody td.cal_selected {
	background-color: #777;
	color: white;
}

div.calendar tbody td.cal_valid_hover {
	border: 1px solid #333;
	cursor: pointer;
}

div.calendar tbody td.cal_invalid {
	color: #999;
	text-align: center;
}

div.calendar thead td {
	text-align: center;
}

div.calendar tfoot td {
	background-color: #c8c9c1;
	text-align: center;	
}

div.calendar a {
	color: #851B1B;
	border-bottom: 1px dotted #851B1B;
	text-decoration: none;
}
div.calendar a:hover {
	color: #851B1B;
	border-bottom: 1px solid #851B1B;
}