/* [[main]] */

/* {{body}} */

body.bs_body {
	margin: 2px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 0.7em;
	color: #000;
	background-color: #fff;
}

.bs_body a {
	color: #00f;
	font-weight: bold;
	text-decoration: none;
}
.bs_body a:hover {
	text-decoration: none;
}

/* {{main}} */

.bs_main {
	padding: 0.5em;
}

/* {{coldesc}} */

.bs_coldesc {
	padding: 0.3em;
	font-size: 0.9em;
	font-weight: bold;
}

.bs_coldesc_sep {
	border-top: 1px solid #fff;
	background-color: #eee;
	padding: 0.1em;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

/* {{topic}} */

.bs_topic {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.4em;
	background-color: #e5e5e5;
	text-align: center;
}
td.bs_topic {
	padding: 0.3em;
}
h1.bs_topic {
	padding: 0.3em;
}
.bs_topic a {
	background-image: none;
	text-decoration: underline;
}
.bs_topic a:hover {
	color: #000;
}

/* {{border}} */

.bs_border {
	border: 1px solid #e5e5e5;
	padding: 1px;
}

/* {{form}} */

fieldset.bs_form dt {
	padding: 0.5em;
	font-weight: bold;
	text-align: left;
}

fieldset.bs_form dd {
	padding: 0.5em;
}

/* [[content]] */

/* {{post}} */

.bs_signature_sep {
	color: #888;
	height: 1px;
	width: 50%;
}

/* {{quote}} */

.bs_quote_section {
	border: 1px solid #e5e5e5;
	padding: 1px;
	margin: 0.5em 0.8em;
}

.bs_quote_section_top {
	padding: 0.4em;
	background-color: #e5e5e5;
	font-size: 1.05em;
}

.bs_quote_section_main {
	padding: 0.4em;
	background-color: #FFFFFF;
}

/* {{code}} */

.bs_lcode {
	width: 20px;
	border-right: 1px solid #ccc;
	padding-right: 0.2em;
}
.bs_rcode {
	padding-left: 0.2em;
	font-family: courier new, monospace;
	font-size: 1.2em;
}
