<form method="post" enctype="multipart/form-data" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="bs_border">
	<h1 class="bs_topic">{title}</h1>
	<fieldset class="bs_form">
		<dl>
			<dt>{glocale.lang('event_name')}:</dt>
			<dd>{form.get_textbox('topic_name',default:event_title,70)}</dd>
		</dl>
		<dl>
			<dt>{glocale.lang('location')}:</dt>
			<dd>{form.get_textbox('location',default:event_location,50,100)}</dd>
		</dl>
		<dl>
			<dt>{glocale.lang('begin')}:</dt>
			<dd>{form.get_date_chooser('b_',default:event_begin)}</dd>
		</dl>
		<dl>
			<dt>{glocale.lang('end')}:</dt>
			<dd>
				{form.get_date_chooser('e_',default:event_end)}
				{glocale.lang('or')}
				<input id="openend" type="checkbox" name="open_end" {open_end} value="1" />
				<label for="openend">{glocale.lang('openend')}</label>
			</dd>
		</dl>
		<dl>
			<dt>{glocale.lang('announcements')}:</dt>
			<dd>
				<table cellpadding="2" cellspacing="0">
					<tr>
						<td colspan="2">
						{form.get_radio_yesno('enable_announcements',enable_announcements)}
						| {glocale.lang('maximal')}:
						{form.get_textbox('max_announcements',max_announcements,4,5)}
						( 0 = {glocale.lang('unlimited')} )
						</td>
					</tr>
					<tr>
						<td><u>{glocale.lang('application_deadline')}:</u></td>
						<td>
						<input type="radio" name="timeout_type" value="begin" {timeout_type_begin} id="cab" />
						<label for="cab">{glocale.lang('event_begin')}</label>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
						<input type="radio" name="timeout_type" value="custom" {timeout_type_self} id="cas" />
						<label for="cas">{glocale.lang('custom')}</label>:
						{form.get_date_chooser('c_',default:timeout)}
						</td>
					</tr>
				</table>
			</dd>
		</dl>
		<dl>
			<dt>{glocale.lang('description')}:</dt>
			<dd>{form.get_textarea('description',default:description,'90%','100px')}</dd>
		</dl>
	</fieldset>
</div>
<center>
	<input type="button" value="{glocale.lang('back')}" onclick="document.location.href='{back_url}'" />
	<input type="submit" name="submit" value="{glocale.lang('submit')}" />
</center>
</form>