{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}

{include "inc_pw_complexity_js.htm"}

<form method="post" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" /><div class="bs_border">
	<h1 class="bs_topic">{glocale.lang('change_password')}</h1>
	<div class="bs_main">{glocale.lang('change_password_desc')}</div>
	<fieldset class="bs_form">
		<dl>
			<dt>{glocale.lang('password')}:</dt>
			<dd>
				<input id="pw_field" type="password" name="password" size="{password_size}"
					maxlength="{password_maxlength}" onkeyup="show_pw_complexity('pw_field','pw_complexity_notice');" />
				<div class="bs_desc" id="pw_complexity_notice"></div>
			</dd>
		</dl>
		<dl>
			<dt>{glocale.lang('pw_confirmation')}:</dt>
			<dd>
				<input type="password" name="password_conf" size="{password_size}" maxlength="{password_maxlength}" />
			</dd>
		</dl>
	</fieldset>
</div>
<center>
	<input type="submit" value="{glocale.lang('save')}" />
</center>
</form>

{endif}
{endif}

{include "inc_footer.htm"}