<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Boardsolution</title>
<meta http-equiv="Content-Type" content="text/html; {charset}" />
<meta http-equiv="Content-Style-Type" content="text/css" />
{if success}
<meta http-equiv="refresh" content="5;URL={redirect}" />
{endif}
<style type="text/css">
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	color: #000000;
}
a {
	color: #3F5E88;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
</style>
</head>
<body>

<div align="center">
	{message}
</div>

</body>
</html>