{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}

{if latest_topics_top}
<div class="bs_sub_container">
{include "inc_topics.htm"}
</div>
{endif}

<div class="bs_sub_container">
{include "inc_forums.htm"}
</div>

<div class="bs_options_container">
	<div><i class="fa fa-paw" aria-hidden="true"></i><a href="{gurl.simple_url('team')}">{glocale.lang('the_team')}</a></div>
	<div><i class="fa fa-comments" aria-hidden="true"></i><a href="{gurl.simple_url(0,'&amp;$URL_AT=$ACTION_CHANGE_READ_STATUS&amp;$URL_LOC=read&amp;$URL_MODE=all','&amp;',true)}">{glocale.lang('markallasread')}</a></div>
</div>

{if view_useronline_list}
<div class="bs_sub_container">
{include "inc_online_user.htm"}
</div>
{endif}

{if latest_topics_bottom}
<div class="bs_sub_container">
{include "inc_topics.htm"}
</div>
{endif}

{endif}
{endif}

{include "inc_footer.htm"}
