	{if number == 1}
	{if gisloggedin == false}
	<dl>
		<dt>{glocale.lang('yourname')}:</dt>
		<dd>
			<input type="text" name="user_name" size="30" maxlength="{user_maxlength}" value="{user_name_value}" />
		</dd>
	</dl>
	<dl>
		<dt>{glocale.lang('youremail')}:</dt>
		<dd><input type="text" name="email_adr" size="40" value="{email_value}" /></dd>
	</dl>
	{if enable_security_code}
	<dl>
		<dt>{glocale.lang('security_code')}:</dt>
		<dd>
		<img src="{security_code_img}" style="padding-bottom: 5px; cursor: pointer;" onclick="reloadImage(this);" alt="{glocale.lang('reload_sec_image')}" title="{glocale.lang('reload_sec_image')}" />
		<br clear="all" />
		<input type="text"  name="{sec_code_field}" size="15" maxlength="10" />
		<br />
		<div class="bs_desc">{glocale.lang('security_code_desc')}</div>
		</dd>
	</dl>
	{endif}
	{endif}
	{endif}
	<dl>
		<dt>
			{post_title}
			<br /><br />
			<span class="bs_desc">
			{bbcode_activated}<br />
			{smileys_activated}<br />
			{glocale.lang('html_not_activated')}
			</span>
		</dt>
		<dd>
			<div style="padding-left: 0.5em;">
				<div style="padding-bottom: 0.3em;">
					{if number == 1}
					<script type="text/javascript" src="{gjs.get_file('src/bbcode.js')}"></script>
					<script type="text/javascript" src="{gjs.get_file('src/ajax_get_post_form.js')}"></script>
					<script type="text/javascript">
					<!--
					var BBCodeModes = new Array();
					var postForms = new Array();
					function BS_refresh_text()
					{
						for(var no in BBCodeModes)
						{
							if(BBCodeModes[no] == 'applet')
							{
								var applet = document.getElementById('bbcode_area' + no);
								var text = '';
								// the IE seems not to be able to call self-written methods of the applet.
								// therefore we use toString to get the text. that works :) 
								if(applet.toString || typeof applet.toString == 'function')
									text = applet.toString();
								document.getElementById('hiddenText' + no).value = text;
							}
						}
					}
					//-->
					</script>
					{endif}
					<script type="text/javascript">
					<!--
					BBCodeModes['{number}'] = "{bbcode_mode}";
					postForms['{number}'] = new BS_getPostFormAJAXConstr(
						'post_form_{number}','bbcode_area{number}','{gpath}','{get_post_form_url}'
					);
					//-->
					</script>
					<input type="radio" name="bbcode_mode_{number}" id="bbcode_mode_simple_{number}"
						onclick="changeBBCodeMode({number},'simple',postForms['{number}']);" value="simple"{bb_si_checked} />
					<label for="bbcode_mode_simple_{number}">{glocale.lang('bbcode_mode_simple')}</label>
					{if bbcode_enabled}
					&nbsp;&nbsp;
					<input type="radio" name="bbcode_mode_{number}" id="bbcode_mode_advanced_{number}"
						onclick="changeBBCodeMode({number},'advanced',postForms['{number}']);" value="advanced"{bb_ad_checked} />
					<label for="bbcode_mode_advanced_{number}">{glocale.lang('bbcode_mode_advanced')}</label>
					{endif}
					{if applet_enabled}
					&nbsp;&nbsp;
					<input type="radio" name="bbcode_mode_{number}" id="bbcode_mode_applet_{number}"
						onclick="changeBBCodeMode({number},'applet',postForms['{number}']);" value="applet"{bb_app_checked} />
					<label for="bbcode_mode_applet_{number}">{glocale.lang('bbcode_mode_applet')}</label>
					{endif}
				</div>
				<div id="post_form_{number}">
					{textarea}
				</div>
				{toggle_smbb}
			</div>
		</dd>
	</dl>
	{include "inc_attachments.htm"}