{if page}
	<div class="bs_pagination">
		<div style="float: left; width: 10%; text-align: left">
		<!-- START -->
		{if page > 1}
		<a href="{first_url}"><i class="fa fa-fast-backward fa-lg" aria-hidden="true" title="{glocale.lang('firstpage')}" alt="{glocale.lang('firstpage')}"></i></a>&nbsp;&nbsp;&nbsp;
		{else}
		<i class="fa fa-fast-backward fa-lg" aria-hidden="true" title="{glocale.lang('notavailable')}" alt="{glocale.lang('notavailable')}"></i>&nbsp;&nbsp;&nbsp;
		{endif}
		<!-- PREVIOUS -->
		{if page > 1}
		<a href="{prev_url}"><i class="fa fa-step-backward fa-lg" aria-hidden="true" title="{glocale.lang('back')}" alt="{glocale.lang('back')}"></i>
		</a>
		{else}
		<i class="fa fa-step-backward fa-lg" aria-hidden="true" title="{glocale.lang('notavailable')}" alt="{glocale.lang('notavailable')}"></i>
		{endif}
		</div>
		<div style="float: left; width: 80%; text-align: center;">
		<!-- PAGES -->
		{loop numbers as number}
		{if number:number == page}
		<span class="bs_pagination_current">{number:number}</span>
		{else}
		{if number:link}
		<span class="bs_pagination_other"><a href="{number:link}">{number:number}</a></span>
		{else}
		{number:number}
		{endif}
		{endif}
		{endloop}
		</div>
		<div style="float: right; width: 10%; text-align: right">
		<!-- NEXT -->
		{if page < total_pages}
		<a href="{next_url}"><i class="fa fa-step-forward fa-lg" aria-hidden="true" title="{glocale.lang('forward')}" alt="{glocale.lang('forward')}"></i></a>&nbsp;&nbsp;&nbsp;
		{else}
		<i class="fa fa-step-forward fa-lg" aria-hidden="true" title="{glocale.lang('notavailable')}" alt="{glocale.lang('notavailable')}"></i>&nbsp;&nbsp;&nbsp;
		{endif}
		
		<!-- LAST -->
		{if page < total_pages}
		<a href="{last_url}"><i class="fa fa-fast-forward fa-lg" aria-hidden="true" title="{glocale.lang('lastpage')}" alt="{glocale.lang('lastpage')}"></i></a>
		{else}
		<i class="fa fa-fast-forward fa-lg" aria-hidden="true" title="{glocale.lang('notavailable')}" alt="{glocale.lang('notavailable')}"></i>
		{endif}
		</div>
		<div class="bs_pagination_total" style="float: right; width: 100%; text-align: center">
			({glocale.lang('viewing')}: {start_item} &ndash; {end_item}; {glocale.lang('total')}: {total_items})
		</div>
	</div>
	<div class="bs_clear_l"></div>
	<div class="bs_clear_r"></div>
{endif}