<!DOCTYPE html>
<html lang="de">
<head>
<title>{title}</title>
<meta name="robots" content="{robots_value}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{if redirect}
<meta http-equiv="refresh" content="{redirect:time}; url={redirect:url}" />
{endif}
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{loop jsfiles as file}
<script type="{file:type}" src="{file:src}"></script>
{endloop}
<script type="text/javascript" src="{gjs.get_file('js/basic.js','fws')}"></script>
<script type="text/javascript" src="{gjs.get_file('js/ajax.js','fws')}"></script>
<script type="text/javascript" src="{gjs.get_file('src/functions.js')}"></script>
<script type="text/javascript" src="{gjs.get_file('js/imgviewer.js','fws')}"></script>
{loop cssfiles as file}
<link rel="stylesheet" type="{file:type}" href="{file:src}" />
{endloop}
<link rel="stylesheet" href="{guser.get_theme_item_path('fas/css/font-awesome.css')}">
<link rel="stylesheet" type="text/css" href="{guser.get_theme_item_path('basic.css')}" />
<link rel="stylesheet" type="text/css" href="{guser.get_theme_item_path('advanced.css')}" />
{if feeds_enabled}
<link rel="alternate" type="application/rss+xml" title="RSS 2.0 Newsfeed" href="{rss20_feed}" />
<link rel="alternate" type="application/atom+xml" title="Atom Newsfeed" href="{atom_feed}" />
{endif}
<style type="text/css">
div.bs_signature {
	{if sig_max_height > 0}
	height: expression( this.scrollHeight > {sig_max_height - 1} ? "{sig_max_height}px" : "auto" );
	max-height: {sig_max_height}px;
	overflow: hidden;
	{endif}
}
</style>
{loop cssblocks as block}
<style type="{block:type}">
{block:code}
</style>
{endloop}
<script type="text/javascript">
<!--
var myAjax = new FWS_Ajax();
myAjax.setMimeType('text/plain; {charset}');
myAjax.setEventHandler('onstart',function() {
	FWS_displayWaitBar('ajax_wait_bar');
});
myAjax.setEventHandler('onfinish',function() {
	FWS_hideElement('ajax_wait_bar');
});

FWS_configureImageViewer(
	true,80,10,10,10,5,'30px','{guser.get_theme_item_path("images/wait.gif")}',5,
	"{glocale.lang("imgviewer_load_error")}"
);

function setCookie(name,value,lifetime)
{
	document.cookie = escape(name) + "=" + escape(value) +
		(lifetime ? ";expires=" + (new Date((new Date()).getTime() + (1000 * lifetime))).toGMTString() : "") +
		";path={cookie_path};domain={cookie_domain}";
}
//-->
</script>
{loop jsblocks as block}
<script type="{block:type}">
<!--
{block:code}
//-->
</script>
{endloop}
</head>
<body>
{if show_headline}
{include "inc_headline.htm"}
{if gisloggedin}
{include "inc_sidebar.htm"}
{endif}
{endif}

<div id="bs_banner">
	<div id="bs_banner_search">
		<form method="post" action="{quick_search_target}" id="banner-search-form">
			<fieldset>
				<input type="hidden" name="fid[]" value="{fid}" />
				<input type="hidden" name="submit" value="1" />
				<input type="text" name="keyword" placeholder="Suche...">
				<button type="submit" title="{glocale.lang('go')}"><i class="fa fa-search"></i></button>
			</fieldset>
		</form>
	</div>
	<br><br>Hier könnte Ihr Banner sein ;-)
</div>

<div class="breads">
	<div class="breads_pad">
	<div class="breads_first">
	{loop breadcrumbs as bc}
		{if breadcrumbs.current == 0}
		<a href="{bc:1}" title="{bc:0}"><i class="fa fa-home"></i></a>{if breadcrumbs.current == breadcrumbs.length-1}</div>{endif}
		{else}
			{if breadcrumbs.current < breadcrumbs.length-1}
			<i class="fa fa-angle-right"></i> <a href="{bc:1}">{bc:0}</a>
			{else}
			<i class="fa fa-angle-right"></i></div> <div class="breads_last">{bc:0}</div>
			{endif}
		{endif}
	{endloop}
	</div>
</div>

<div id="bs_container">
<a id="bs_top"></a>

<!--  
<div class="breadcrumb">
{loop breadcrumbs as bc}
	{if breadcrumbs.current == 0}
	<a href="{bc:1}">{bc:0}</a>
	{else}
	{if breadcrumbs.current < breadcrumbs.length-1}
	<a href="{bc:1}">{bc:0}</a>
	{else}
	<span>{bc:0}</span>
	{endif}
	{endif}
{endloop}
</div>
<br />
-->

{include "inc_messages.htm"}