{if forums}
<ul>
	{loop forums as forum}
		{loop forum:close_clap_forum as b}
				</ul>
			</div>
		</div>
		{endloop}
		
		{if forum:contains_forums}
		<li>
			<div class="bs_forums">
				<!--  forum containing forums - START -->
				<div class="bs_forums_parent">
					<a href="{forum:forum_url}">{forum:forum_name_ins}</a>
					{if forum:clap_forum}
						<div>
							<a href="{forum:clap_forum_url}" onclick="clapForum('{forum:forum_id}','{forum:cookie_prefix}'); return false;" title="{glocale.lang('hidethisforum')}"><i class="{forum:css_class}" id="cross_{forum:forum_id}"></i></a>
						</div>
					{endif}
				</div>
				{if forum:clap_forum}
				<!--  forum containing forums - ENDE -->
				<div style="display: {forum:display_rubrik};" id="subForums_{forum:forum_id}">
					<ul>
				{else}
				</div>
				{endif}
		{else}
			<!-- forum containing threads - START -->
			<li>
		   <div class="bs_forums_cl"></div>
			<div class="bs_forums_child">
				<div class="bs_forums_child_status bs_forums_child_hvmiddle">{forum:alreadyread}</div>
				<div class="bs_forums_child_maindata"><a href="{forum:forum_url}">{forum:forum_name_ins}</a>
					<div>{forum:beschr_ins}</div>
					{if forum:sub_forums}
					<div><b>{glocale.lang('subdirs')}:</b> {forum:sub_forums}</div>
					{endif}
				</div>
				<div class="bs_forums_child_tpcount bs_forums_child_hvmiddle">
					<dl>
						<dt>{forum:thread_count}</dt>
						<dd>{glocale.lang('threads')}</dd>
						<dt>{forum:post_count}</dt>
						<dd>{glocale.lang('posts')}</dd>
					</dl>
				</div>
				<div class="bs_forums_child_lpost bs_forums_child_hmiddle">
					{if forum:lastpost == false}
							-
						{else}
							<div>
								<div><a title="{forum:lastpost:topic_complete}" href="{forum:lastpost:topic_url}">{forum:lastpost:topic}</a></div>
								<div class="last_post_icon"><a title="{glocale.lang('gotolastpost')}" href="{forum:lastpost:lastpost_url}"></a></div>
								{glocale.lang('From')}: {forum:lastpost:username}, {forum:lastpost:date}
							</div>
						{endif}		
				</div>
			</div>
			</li>
			<!--  forum containing threads - ENDE -->
		{endif}
	{endloop}

	{loop clap_forum_bottom as b}
			</ul>
		</div>
	</div>
	{endloop}
</ul>
<script>
<!--
var global_cookie = '{forum_cookie}';
//-->
</script>
{endif}