<div id="bs_sidebar_container">
	<br id="bs_sidebar_open">
	<br id="bs_sidebar_close">
	 
	<div id="bs_sidebar">
		<nav>
			<ul>
			{loop top_links as id => link}
				<li><a href="{link:url}"><i class="fa {link:icon} fa-fw"></i> {link:text}</a></li>
			{endloop}
			</ul>
		</nav>
		<aside>
			<div>{avatar}</div>
			<div id="bs_sidebar_lpost">
				{if last_posts !== false}
				{if last_posts.length == 0}
				<i>{glocale.lang('none')}</i>
				{else}
				<i>Aktivitäts-Protokoll:</i>
				{loop last_posts as lp}
				<div>
					<div><a title="{lp:topic_name}" href="{lp:topic_url}">{lp:topic_name}</a></div>
					{lp:date}
				</div>
				{endloop}
				{endif}
				{endif}
			</div>
		</aside>
		<p>
			<a class="bs_sidebar_open" href="#bs_sidebar_open">Anzeigen</a>
			<a class="bs_sidebar_close" href="#bs_sidebar_close">Verstecken</a>
		</p>
	</div>
</div>