{if type != 'contains_cats'}
<ul>
	<li>
		<div class="bs_topics">
			<div class="bs_topics_parent">
				{thread_title}
			</div>
			<div>
				{if num == 0}
				<div class="bs_main">{glocale.lang('no_topics_found')}</div>
				{else}
				<ul>
				{loop topics as index => topic}
				<li>
				   <div class="bs_topics_cl"></div>
					<div class="bs_topics_child">	
						<div class="bs_topics_child_status bs_topics_child_hvmiddle">
							{if show_thread_action}
							<input id="id_{index}" type="checkbox" name="selected_topics[]" value="{topic:topic_id}" />
							{endif}

							<div style="border: 1px solid #c7c7c7; background: #fff; padding: 2px; width: 30px;">
								<img alt="{topic:creator:username_plain}" src="{topic:creator:avatar}" style="width: 30px; height: 30px; vertical-align: middle; text-align: center;" />
							</div>
						</div>
						{if topic:show_forum}
						<div class="bs_topics_child_maindata">
						{else}
						<div class="bs_topics_child_latest_topics bs_topics_child_maindata">
						{endif}
							<a href="{topic:topic_url}">
								{if topic:is_moved}
								<i>{if topic:name_complete != ''}{topic:name_complete}{else}{topic:name}{endif}</i>
								{else}
								{if topic:name_complete != ''}{topic:name_complete}{else}{topic:name}{endif}
								{endif}
							</a>
							{if topic:show_forum}
							<div>
								{if topic:page_split}
									&nbsp;&nbsp;<span class="bs_desc">{topic:page_split}</span>
								{endif}{topic:forum_path}
							</div>
							{endif}
							<div>{glocale.lang('thread')} {glocale.lang('from')}: {topic:creator:username}, {topic:creator:date}</div>

						</div>
						{if topic:show_forum}
						<div class="bs_topics_child_tpcount bs_topics_child_hvmiddle">
							<dl>
								<dt>{forum:thread_count}</dt>
								<dd>{glocale.lang('threads')}</dd>
								<dt>{forum:post_count}</dt>
								<dd>{glocale.lang('posts')}</dd>
							</dl>
						</div>
						{endif}
						<div class="bs_topics_child_lpost bs_topics_child_hmiddle">
							{if topic:lastpost == false}
							-
							{else}
							<div>
								<div style="border: 1px solid #c7c7c7; background: #fff; padding: 2px; width: 30px; float: left; margin-right: 5px;">
									<img alt="{topic:lastpost:username_plain}" src="{topic:lastpost:avatar}" style="width: 30px; height: 30px; vertical-align: middle; text-align: center;" />
								</div>
								<div><a title="{glocale.lang('gotolastpost')}" href="{topic:lastpost:url}">{topic:lastpost:preview}</a></div>
								<div class="last_post_icon"><a title="{glocale.lang('gotolastpost')}" href="{topic:lastpost:url}"></a></div>
								{glocale.lang('From')}: {topic:lastpost:username}, {topic:lastpost:date}
								<br style="clear:left" />
							</div>
						{endif}		
						</div>
					</div>
					</li>
					{endloop}
				</ul>
				{endif}
			</div>
		</div>
	</li>
</ul>
{else}
{if sub_forum == false}
<div class="bs_border">
	<h1 class="bs_topic">{thread_title}</h1>
	<div class="bs_main" style="text-align: center;">
		{glocale.lang('no_forums_available')}
	</div>
</div>
{endif}
{endif}