{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}

{if display_event || display_poll || display_topic}
<div>
	<div style="float: right; width: 50%;">
		{if display_event}
		<a class="bs_button_big" title="{glocale.lang('createnewevent')}" href="{gurl.simple_url('new_event','&amp;$URL_FID='~fid)}">{glocale.lang('newevent')}</a>
		{endif}
		{if display_poll}
		<a class="bs_button_big" title="{glocale.lang('createnewpoll')}" href="{gurl.simple_url('new_poll','&amp;$URL_FID='~fid)}">{glocale.lang('newpoll')}</a>
		{endif}
		{if display_topic}
		<a class="bs_button_big" title="{glocale.lang('createnewthread')}" href="{gurl.simple_url('new_topic','&amp;$URL_FID='~fid)}">{glocale.lang('newthread')}</a>
		{endif}
	</div>
	<br style="clear: both;" />
</div>
{endif}

{if sub_forum}
	<div class="bs_sub_container">
		{include "inc_forums.htm"}
		{if view_useronline_list}
			<div>
			{include "inc_forum_moderators.htm"}
			{include "inc_online_user.htm"}
			</div>
		{endif}
	</div>
{endif}

{if contains_topics}
{if show_topic_action}
<form name="thread_action" method="post" action="{redirect_url}">
{endif}
{include "inc_topics.htm"}
{topic_action_combo}
<input type="submit" onclick="performModAction(getModActionURL());" value="{glocale.lang('performaction')}" /> |
<a href="javascript:invertSelection('id_',0);">{glocale.lang('invertmark')}</a>
{if show_topic_action}
</form>
{endif}

<div>
{include "inc_pagination.htm"}
</div>
{else}
{include "inc_topics.htm"}
{endif}

{if latest_topics_bottom && sub_forum}
{include "inc_topics.htm"}
<div>
</div>
{endif}

{if sub_forum}
{else}
{if view_useronline_list}
<div>
{include "inc_online_user.htm"}
</div>
{endif}
{endif}

{endif}
{endif}

{include "inc_footer.htm"}
