{if mode != 'overview'}
{include "inc_delete_message.htm"}
{endif}

<form method="post" action="{outbox_url}">
<div class="bs_border">
	<h1 class="bs_topic">{title}{if outbox_num != ''} ({outbox_num}){endif}</h1>
	<table class="bs_table" cellpadding="2" cellspacing="1">
		<tr>
			<th width="5%" class="bs_coldesc">&nbsp;</th>
			<th width="43%" class="bs_coldesc" align="left">{glocale.lang('subject')}</th>
			<th width="20%" class="bs_coldesc" align="left">{glocale.lang('receiver')}</th>
			<th width="32%" class="bs_coldesc">{glocale.lang('date')}</th>
		</tr>
		{if num == 0}
		<tr>
			<td colspan="5" class="bs_main" align="center">{glocale.lang('nomessagesinoutbox')}</td>
		</tr>
		{endif}
		{loop pms as index => pm}
		<tr>
			<td class="bs_main" align="center"
					onclick="var cb = document.getElementById('outbox_{index}'); cb.checked = cb.checked ? false : true;">
			<input type="checkbox" id="outbox_{index}" name="delete[]" value="{pm:pm_id}"
						 onclick="this.checked = this.checked ? false : true;" />
			</td>
			<td class="bs_main">
			<img title="{glocale.lang('read_pm')}" alt="{glocale.lang('read_pm')}" src="{pm:status_picture}" />
			{pm:prefix}<a title="{pm:complete_title}" href="{pm:details_link}">{pm:pm_title}</a>
			</td>
			<td class="bs_main">{pm:sender}</td>
			<td class="bs_main" align="center">{pm:date}</td>
		</tr>
		{endloop}
	</table>
</div>

<div style="padding-left: 25px;">
	<img src="{guser.get_theme_item_path('images/thread_option.gif')}" alt="" />
	<select name="operation">
		<option value="delete">{glocale.lang('delete')}</option>
	</select>
	<input type="submit" value="{glocale.lang('submit')}" />
	&nbsp;|&nbsp;<a href="Javascript:invertSelection('outbox_')">{glocale.lang('invertmark')}</a>
</div>
</form>

<div class="bs_padtop_big">
{include "inc_page_split.htm"}
</div>