@CHARSET "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display: block;
}

body 
{
	margin: 0px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
	background-color: #eee;
	line-height: 1em;
}

ol,ul 
{
	list-style: none;
}

blockquote,q 
{
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after 
{
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0px;
}

#bs_container 
{
	width: 990px;
	margin: 10px auto;
	background-color: #fff;
	padding: 5px;
	border-radius: 8px;
	-webkit-box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
}

#bs_banner
{
	width: 990px;
	height: 200px;
	background-color: #4285bb;
	margin: 10px auto;
	padding: 5px;
	-webkit-box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	text-align: center;
	font-size: 3em;
	color: #fff
}

#bs_banner_text
{
	font-size: 1em;
	line-height: 1em;
	position: relative;
	top: 30px
}

#bs_banner_search
{
	text-align: right;
	padding-right: 10px;
}

#bs_banner_search input
{
	padding: 10px;
	font-size: 0.25em;
	border-radius: 10px;
	margin: 0px;
	border: 0px solid #000;
	opacity: 0.7;
	position: relative;
	left: 18px;
}

#bs_banner_search input:hover, #bs_banner_search input:focus
{
	opacity: 1;
}

#bs_banner_search button
{
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-size: 0.8em;
	background: none;
	cursor: pointer;
	line-height: 1em;
	vertical-align: middle;
	border: none;
	color: #fff;
	opacity: 0.7;
}

#bs_banner_search button:hover
{
	opacity: 1.0;
}


#bs_banner_search .fa-search
{
	padding-left: 5px;
	font-size: 0.5em;
}

#bs_top {}

#bs_headline {}

#topnav 
{
    border: 0px solid #000;
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:center;
    color: #fff;
    font-size: 0.9em;
    /* 
    background: linear-gradient(#676A80, #434772);
    background-image: url("images/forums/node1.png");
	background-position: center;
	background-repeat: repeat;
	background-color: #1f326e;
    */
    background: linear-gradient(#676A80, #434772);

	-webkit-box-shadow:	10px 0px 5px 0px rgba(15, 15, 15, 0.5);
	-moz-box-shadow: 10px 0px 5px 0px rgba(15, 15, 15, 0.5);
	box-shadow:	10px 0px 5px 0px rgba(15, 15, 15, 0.5);

}
#topnav li 
{
	display:inline;
}

#topnav li > div
{
    display:inline-table;
    vertical-align: middle;
    padding: 12px 20px 12px 0px;
}

.topnav-first-logged-in
{
	text-align: left;
	width: 575px;
}

.topnav-first-logged-out
{
	text-align: left;
	width: 395px;
}

#topnav li:nth-of-type(2) > div
{
	padding: 5px 0px 5px 20px;
}

#topnav li:nth-of-type(3) > div
{
	padding: 5px 20px 5px 0px;
}

#topnav a
{
	color: #fff;
}

#topnav a:hover
{
	text-shadow: 0px 0px 9px rgba(218, 218, 218, 0.45);
}

/* ---------- REGISTER-FORM ---------- */

#register-form {
}

#register-form fieldset {
}

#register-form button[type="submit"] {
	font-size: 0.9em;
	background: #339933;
	border-radius: 5px;
	color: #fff;
	font-weight: normal;
	padding: 5px 5px;
	border: 1px solid #dcdcdc;
}

#register-form button[type="submit"]:hover { 
	background: #66cc66; 
	cursor: pointer;
	box-shadow: 0px 0px 6px rgba(83, 169, 79, 0.95)
}


/* ---------- LOGIN-FORM ---------- */

#login-form {
}

#login-form fieldset {
}

#login-form input, #login-form button {
	font-size: 0.9em;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 5px 5px;
	width: 100px;
}

#login-form input[type="text"] {
	border-radius: 5px;
}

#login-form input[type="password"] {
	border-radius: 5px;
}

#login-form button[type="submit"] {
	background: #339933;
	border-radius: 5px;
	color: #fff;
	font-weight: normal;
	padding: 5px 5px;
	border: 1px solid #dcdcdc;
}

#login-form button[type="submit"]:hover { 
	background: #66cc66; 
	cursor: pointer;
	box-shadow: 0px 0px 6px rgba(83, 169, 79, 0.95)
}

#login-form a
{
	color: #fff;
	font-size: 0.75em;
}


/* ---------- LOGOUT-FORM ---------- */

#logout-form {
}

#logout-form fieldset {
}

#logout-form button[type="submit"] {
	font-size: 0.9em;
	background: #E43333;
	border-radius: 5px;
	color: #fff;
	font-weight: normal;
	padding: 5px 5px;
	border: 1px solid #dcdcdc;
}

#logout-form button[type="submit"]:hover { 
	background: #FF3A3A; 
	cursor: pointer;
	box-shadow: 0px 0px 6px rgba(230, 72, 72, 0.95)
	
}



.bs_forums
{
	margin: 0px auto;
	border: 1px solid #c7c7c7;
	padding: 0px;
	margin: 6px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.bs_forums li:nth-child(odd)
{
	background-color: #fff;	
}

.bs_forums li:nth-child(even)
{
	background-color: #f7fafd;	
}

.bs_forums_parent
{
	width: 100%;
	height: 65px;
	background-image: url("images/forums/node1.png");
	background-position: center;
	background-repeat: repeat;
	background-color: #1f326e;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.bs_forums_closed
{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.bs_forums_parent > a
{
	display: inline-block;
	font-size: 1.05em;
	font-variant:small-caps;
	text-transform: capitalize;
	text-decoration: none;
	margin-top: 25px;
	margin-left: 15px;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(30, 30, 30, 0.85);
}
.bs_forums_parent > a:hover
{
	text-shadow: 0px 0px 25px rgba(218, 218, 218, 0.35);
}

.bs_forums_parent > div
{
	float: right;
	position: relative;
	top: 25px;
	right: 30px;
}

.bs_plus_minus
{
	color: #fff;
	position: absolute;
    top: -2px;
	right: -5px;
	font-size: 1.6em;
	text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.85);
}

i:hover.bs_plus_minus
{
	text-shadow: 0px 0px 35px rgba(218, 218, 218, 0.35);
}

.minus
{
    background-color: #fff;
    width: 19px;
    height: 3px;
    position: absolute;
    top: 8px;
    left: -11px;
}
.plus
{
    background-color: #fff;
    width: 3px;
    height: 19px;
    position: relative;
    margin-left: 6px;
}
 
.plus:before
{
    background-color: #fff;
    content: "";
    width: 19px;
    height: 3px;
    position: absolute;
    top: 8px;
    left: -8px;
}
.minus > a
{
	position: absolute;
    display: block;
    height: 5px;
    width: 19px;
    top: -6px;
    left: -5px;
    padding: 5px;
    text-decoration: none;
    clear: right;
}
.plus > a
{
	position: absolute;
    display: block;
    height: 19px;
    width: 19px;
    top: -5px;
    left: -13px;
    padding: 5px;
    text-decoration: none;
    clear: right;
}
.minus > a:hover, .plus > a:hover
{
	cursor: pointer;
}
.bs_forums_child
{
	width: 100%;
	display: table;
}
.bs_forums_child:hover
{
	background-color: #eff6ff;
}
.bs_forums_child > div
{
	border: 0px solid #000;
	display: table-cell;
	padding: 10px;
	color: #5d5d5d;
	font-size: 0.7em;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(155, 155, 155, 0.15);
}
.bs_forums_child_hvmiddle
{
	text-align: center;
	vertical-align: middle;
}

.bs_forums_child_hmiddle
{
	vertical-align: middle;
}

.bs_forums_child_status
{
	width: 5%;
}
.bs_forums_child_status > a
{
	color: #222277;
}
.bs_forums_child_status > a:hover
{
	text-shadow: 0px 0px 9px rgba(100, 100, 255, 0.95);
}
.bs_forums_child_status > i:hover
{
	text-shadow: 0px 0px 9px rgba(100, 100, 255, 0.95);
}
div.bs_forums_child_status
{
	padding-right: 0px;
}
.bs_forums_child_maindata
{
	width: 48%;
}
.bs_forums_child_tpcount
{
	width: 15%;
}
.bs_forums_child_lpost
{
	width: 32%;
}
.bs_forums_child_lpost a
{
	color: #333;
	text-decoration: none;
}
.bs_forums_child_lpost > div > a
{
	color: #333;
	font-style: italic;
	text-decoration: none;
}
.bs_forums_child_lpost a:hover
{
	color: #000;
	text-shadow: 0px 0px 9px rgba(100, 100, 255, 0.95);
}
.bs_forums_child_maindata > a
{
	color: #333;
	font-size: 1.52em;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(185, 185, 185, 0.75);
}
.bs_forums_child_maindata > a:hover
{
	color: #000;
	text-shadow: 0px 0px 9px rgba(100, 100, 255, 0.95);
}
.bs_forums_child_maindata > div
{
	padding: 5px 0px 5px 0px;
	color: #959595;
}
.bs_forums_child_maindata > div > a
{
	color: #333;
	font-style: italic;
	text-decoration: none;
}
.bs_forums_child_maindata > div > a:hover
{
	color: #000;
	text-shadow: 0px 0px 9px rgba(100, 100, 255, 0.95);
}
.bs_forums_child_tpcount dl
{
	color: #959595;
}
.bs_forums_child_tpcount dt
{
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
}
.bs_forums_child_tpcount dd
{
    padding-right: 25px;
}

.last_post_icon
{
	display: inline-block;
}

.last_post_icon > a
{
	border-width: 4px 4px 4px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #888;
    height: 1px;
    width: 1px; 
    margin-right: -5px;
    display: block;
}

.last_post_icon >  a:hover 
{
	cursor: pointer;
}




.bs_topics
{
	margin: 0px auto;
	border: 1px solid #c7c7c7;
	padding: 0px;
	margin: 6px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.bs_topics li:nth-child(odd)
{
	background-color: #fff;	
}

.bs_topics li:nth-child(even)
{
	background-color: #f7fafd;	
}

.bs_topics_parent
{
	width: 100%;
	height: 35px;
	background-image: url("images/forums/node1.png");
	background-position: center;
	background-repeat: repeat;
	background-color: #1f326e;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.bs_topics_parent > a
{
	display: inline-block;
	font-size: 1.05em;
	font-variant:small-caps;
	text-transform: capitalize;
	text-decoration: none;
	margin-top: 11px;
	margin-left: 15px;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(30, 30, 30, 0.85);
}
.bs_topics_parent > a:hover
{
	text-shadow: 0px 0px 25px rgba(218, 218, 218, 0.35);
}

.bs_topics_parent > div
{
	float: right;
	position: relative;
	top: 11px;
	right: 30px;
}
.bs_topics_child
{
	width: 100%;
	display: table;
}
.bs_topics_child:hover
{
	background-color: #eff6ff;
}
.bs_topics_child > div
{
	border: 0px solid #000;
	display: table-cell;
	padding: 10px;
	color: #5d5d5d;
	font-size: 0.7em;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(155, 155, 155, 0.15);
}
.bs_topics_child_hvmiddle
{
	text-align: center;
	vertical-align: middle;
}

.bs_topics_child_hmiddle
{
	vertical-align: middle;
}

.bs_topics_child_status
{
	width: 5%;
}
.bs_topics_child_status > a
{
	color: #222277;
}
.bs_topics_child_status > a:hover
{
	text-shadow: 0px 0px 6px rgba(100, 100, 255, 0.95);
}
.bs_topics_child_status > i:hover
{
	text-shadow: 0px 0px 6px rgba(100, 100, 255, 0.95);
}
div.bs_topics_child_status
{
	padding-right: 0px;
}
.bs_topics_child_maindata
{
	width: 48%;
}
.bs_topics_child_latest_topics
{
	width: 55%;
}
.bs_topics_child_tpcount
{
	width: 15%;
}
.bs_topics_child_lpost
{
	width: 32%;
}
.bs_topics_child_lpost a
{
	color: #333;
	text-decoration: none;
}
.bs_topics_child_lpost > div > a
{
	color: #333;
	font-style: italic;
	text-decoration: none;
}
.bs_topics_child_lpost a:hover
{
	color: #000;
	text-shadow: 0px 0px 6px rgba(100, 100, 255, 0.95);
}
.bs_topics_child_maindata > a
{
	color: #333;
	font-size: 1.25em;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(185, 185, 185, 0.75);
}
.bs_topics_child_maindata > a:hover
{
	color: #000;
	text-shadow: 0px 0px 6px rgba(100, 100, 255, 0.95);
}
.bs_topics_child_maindata > div
{
	padding: 2px 0px 5px 0px;
	color: #959595;
}
.bs_topics_child_maindata > div > a
{
	color: #333;
	font-style: italic;
	text-decoration: none;
}
.bs_topics_child_maindata > div > a:hover
{
	color: #000;
	text-shadow: 0px 0px 6px rgba(100, 100, 255, 0.95);
}
.bs_topics_child_tpcount dl
{
	color: #959595;
}
.bs_topics_child_tpcount dt
{
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
}
.bs_topics_child_tpcount dd
{
    padding-right: 25px;
}






.bs_x_icon_correct
{
	padding-top: 2px;
}
#bs_sidebar_container 
{
 position: fixed;
 top: 0px;
 bottom: 0px;
 left: 0px;
}
 
#bs_sidebar_container br 
{
 display:none;
}
 
#bs_sidebar_container a.bs_sidebar_open , #bs_sidebar_container a.bs_sidebar_close 
{
 position:absolute;
 top:50%;
 right:-79px;
 padding:10px 0px;
 width:120px;
 text-decoration:none;
 text-align:center;
 font-weight:bold;
 background-color:#fff;
 color:#000;
 border-top: 1px solid #fff;
 border-right: 1px solid #888;
 border-bottom: 1px solid #666;
 border-left: 1px solid #666;
 -webkit-transform: rotate(270deg);
 -moz-transform: rotate(270deg);
 -o-transform: rotate(270deg);
}
 
#bs_sidebar 
{
 width:200px;
 left:0px;
 min-height:100%;
 padding:11px;
 float:left;
 position:relative;
 background-color:#fff;
 transition:left 1s;
 border-right: 2px solid #999;
 -webkit-box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
 -moz-box-shadow: 0px 0px 12px 0px rgba(15, 15, 15, 0.5);
 box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
 z-index: 200;
}

/* Sidebar-Navi */
#bs_sidebar nav > ul > li
{
	background-color: #fff;
	border-bottom: 1px dotted #5d5d5d;
}

#bs_sidebar nav > ul > li:nth-child(odd)
{
	background-color: #f7fafd;
}

#bs_sidebar nav > ul > li:first-child
{
	border-top: 1px solid #5d5d5d;
}

#bs_sidebar nav > ul > li:last-child
{
	border-bottom: 1px solid #5d5d5d;
}

#bs_sidebar nav > ul > li > a
{
	color: #5d5d5d;
	text-decoration: none;
	padding: 10px;
	display: block;
}

#bs_sidebar nav > ul > li:hover
{
	cursor: pointer;
	background-color: #f5f5f5;
}
 
#bs_sidebar_open:target ~ #bs_sidebar 
{
 left:0px;
}
 
#bs_sidebar_close:target ~ #bs_sidebar 
{
 left:-218px;
}
 
#bs_sidebar_open:target ~ #bs_sidebar a.bs_sidebar_open  
{
 display:none;
}
#bs_sidebar_close:target ~ #bs_sidebar a.bs_sidebar_close , #bs_sidebar_close:target
{
 display:none;
}
#bs_sidebar_open:target  
{
 display:block;
}
#bs_sidebar_container aside > div:first-child
{
	height: 120px;
	line-height: 120px;
	margin: 15px auto;
	text-align: center;
	vertical-align: middle;
}
#bs_sidebar_lpost
{
	width: 100%;
}
#bs_sidebar_lpost a
{
	color: #333;
	text-decoration: none;
}
#bs_sidebar_lpost > div  a
{
	font-style: normal;
}
#bs_sidebar_lpost > div
{
	color: #333;
	font-style: italic;
	text-decoration: none;
	font-size: 0.8em;
}
#bs_sidebar_lpost a:hover
{
	color: #000;
	text-shadow: 0px 0px 9px rgba(100, 100, 255, 0.95);
}

/* Breadcrumb - v1*/
.breadcrumb 
{
	/*centering*/
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	background: #F2F2F2;
	border: 1px solid #ddd
}

.breadcrumb a
{
	text-decoration: none;
	outline: none;
	display: inline;
	float: left;
	font-size: 0.8em;
	line-height: 24px;
	color: #555;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 25px;
	background: #F2F2F2;
	position: relative;
	white-space: pre-line;
}

.breadcrumb span
{
	text-decoration: none;
	float: left;
	font-size: 0.8em;
	line-height: 24px;
	color: #555;
	padding: 0 10px 0 25px;
	background: #F2F2F2;
	word-wrap: break-word;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child 
{
	padding-left: 15px;
}
.breadcrumb a:first-child:before 
{
	left: 14px;
}
.breadcrumb a:last-child
{
	border-radius: 0 2px 2px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}
.breadcrumb a:nth-of-type(1), .breadcrumb a:nth-of-type(1):after
{
	background: #434772;
	color: #fff	
}

.breadcrumb a:nth-of-type(2), .breadcrumb a:nth-of-type(2):after
{
	background: #575C8D;
	color: #fff	
}

.breadcrumb a:nth-of-type(3), .breadcrumb a:nth-of-type(3):after
{
	background: #6C72AC;
	color: #fff	
}

.breadcrumb a:nth-of-type(4), .breadcrumb a:nth-of-type(4):after
{
	background: #787FC6;
	color: #fff	
}

.breadcrumb a:nth-of-type(5), .breadcrumb a:nth-of-type(5):after
{
	background: #8891E3;
	color: #fff	
}

.breadcrumb a:nth-of-type(6), .breadcrumb a:nth-of-type(6):after
{
	background: #97A1FF;
	color: #fff	
}

.breadcrumb a:nth-of-type(7), .breadcrumb a:nth-of-type(7):after
{
	background: #A6AFFF;
	color: #fff	
}

.breadcrumb a:nth-of-type(8), .breadcrumb a:nth-of-type(8):after
{
	background: #B6BDFF;
	color: #fff	
}

.breadcrumb a:nth-of-type(9), .breadcrumb a:nth-of-type(9):after
{
	background: #C7CCFF;
	color: #fff	
}

.breadcrumb a:nth-of-type(10), .breadcrumb a:nth-of-type(10):after
{
	background: #D9DCFF;
	color: #fff	
}

/*hover/active styles*/
.breadcrumb a:hover
{
	background: #353753;
	color: #fff
}
.breadcrumb a:hover:after 
{
	background: #353753;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after 
{
	content: '';
	position: absolute;
	top: 0; 
	right: -0.9em; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 24px;
	height: 24px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707106) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #F2F2F2;
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}

/* Breads - final */		
.breads 
{
	margin: 10px auto;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 5px;
	min-height: 26px;
	line-height: 26px;
	width: 990px;
	-webkit-box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
}

.breads_pad
{
	margin: 0px 6px 0px 6px;
}

.breads_first
{
	float: left;
}

.breads a:first-of-type
{
	text-decoration: none;
	color: #555;
	font-size: 1.8em;
}

.breads a:not(:first-child)
{
	text-decoration: none;
	color: #555;
	font-size: 0.9em;
	position: relative;
	bottom: 0.3em;
	font-weight: bold;
}

.breads_last
{
	text-decoration: none;
	color: #555;
	font-size: 0.9em;
	vertical-align: middle;
	padding-left: 5px;
    overflow:hidden;
}

.breads .fa-angle-right
{
	font-size: 1.8em;
}



/* Footer */
#footer-back
{
	border-top: 1px solid #444;
	background: linear-gradient(#555, #333);
	height: 250px;
	width: 100%;
	bottom: 0;
	margin-top: -150px;
	z-index: -999;
	position: relative;
}

#footer-text
{
	text-align: center;
	color: #222;
	text-shadow: 0 -1px 1px #0a0a0a, 0 1px 1px #4d4d4d;
	font-size: 0.9em;
	text-transform: lowercase;
	font-style: italic;
	top: 50px;
	position: relative;
}
#footer-text div:first-child
{
	padding-top: 10px;
}
#footer-text div
{
	padding-top: 7px;
	text-transform: none;
}
#footer-text div:first-child > a
{
	color: #222;
	text-shadow: 0 -1px 1px #0a0a0a, 0 1px 1px #4d4d4d;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
#footer-text div > a
{
	color: #222;
	text-shadow: 0 -1px 1px #0a0a0a, 0 1px 1px #4d4d4d;
	font-size: 0.9em;
	text-transform: none;
	font-style: normal;
	text-decoration: none;
}

footer #footer-stats
{
	font-size: 0.75em;
	text-shadow: 0 -1px 1px #1a1a1a, 0 1px 1px #4d4d4d;
	font-style: normal;
	position: relative;
	bottom: -50px;
}

#footer-with-console {
	margin-bottom: 270px;
}

#footer-with-console #footer-stats
{
	color: #eee;
	font-size: 1.1em;
	font-style: normal;
	position: relative;
	bottom: -45px;
}

#footer-with-console {
	margin-bottom: 270px;
}

#console
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 250px;
	border: 1px solid #aaa;
	-webkit-box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	box-shadow:	0px 0px 12px 0px rgba(15, 15, 15, 0.5);
	padding-bottom: 20px;
	background-color: #fff;
}

#console div
{
	background-color: #ff0000;
}
#console div:first-child
{
	font-weight: bold;
	font-size:0.8em;
	background-color: #eee;
	padding: 5px 10px;
}

#console pre
{
    counter-reset: line;
    overflow: auto;
    width: 100%;
    height: 245px;
    background-color: #fff;
    line-height: 0.8em;
    font-size: 0.75em;
}

#console code
{
	display:inline-block;
	width: 100%;
    counter-increment: line;
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #fff 8%) 0 0px;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #fff 8%) 0 0px;
	background: -ms-linear-gradient(top, #e5e5e5 0%, #fff 8%) 0 0px;
	background: -o-linear-gradient(top, #e5e5e5 0%, #fff 8%) 0 0px;
	background: linear-gradient(top, #e5e5e5 0%, #fff 8%) 0 0px;
	padding-top: 8px;
}

#console code:before
{
    content: counter(line);
    -webkit-user-select: none;
    color: #c7c7c7;
    margin-left: 10px;
    margin-right: 10px;
}